#main {
    width: 1024px;
    height: 768px;
    margin:auto;
    background:green;
}

#newsfeed {
    background:black;
    width: 1024px;
    height: 20px;
    padding: 5px;
    color: white;
}

#tabs {
    margin-top: 10px;
    float: left;
    width: 700px;
    padding-left: 100px;
}

#tabs > .tab {
    float: left;
    margin-left:10px;
    background: white;
    border: 1px solid blue;

    &:hover, &.active {
        background: gray;
    }
}

#tabs > .tab > .content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#time {
    padding-top: 10px;
    text-align: center;
}

#timecontrols {
    position:relative;
    left: 70px;
    top: 10px;
}
.timecontrol {
    float: left;
    margin-left: 10px;

    &:hover {
        color: gray;
    }

    &.active {
        color: red;
    }
}

.clickable {
    cursor: pointer;
}

.tab_content {
    background: white;
    width: 900px;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
    display: none;
    padding: 10px;

    &.active {
        display: block;
    }
}


.person {
    .photo {
        
    }

    .info {
        vertical-align:middle;
        padding-left: 5px;
        padding-right: 15px;
    }

    .hire {
        text-align:center; 
        vertical-align:middle;
        padding-left: 2em;
        // padding-top: 1em;
    }

    .hire_button, .fire_button {
        border: 1px solid black;
        padding: 10px;

        &:hover {
            color: gray;
        }
    }
}

#hire_table, #staff_table {
    height: 500px;
    width: 440px;
    float: left;
}

#staff_table {
    margin-left: 10px;
}

.scrollable {
    overflow: scroll;
}