#main {
    width: 1024px;
    height: 768px;
    margin:auto;
    background:green;
}

#newsfeed {
    background:black;
    width: 1024px;
    height: 20px;
    padding: 5px;
    color: white;
}

#tabs {
    margin-top: 10px;
    float: left;
    width: 700px;
    padding-left: 100px;
}

#tabs > .tab {
    float: left;
    margin-left:10px;
    background: white;
    border: 1px solid blue;

    &:hover, &.active {
        background: gray;
    }
}

#tabs > .tab > .content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#tabstaff h2 {
    float: left;
    width: 400px;
}

#time {
    padding-top: 10px;
    text-align: center;
}

#timecontrols {
    position:relative;
    left: 70px;
    top: 10px;
}
.timecontrol {
    float: left;
    margin-left: 10px;

    &:hover {
        color: gray;
    }

    &.active {
        color: red;
    }
}

.clickable {
    cursor: pointer;
}

.tab_content {
    background: white;
    width: 900px;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
    display: none;
    padding: 10px;

    &.active {
        display: block;
    }
}


.person {
    .photo {
        img {
            width: 65px;
            height: 65px;
        }
    }

    .info {
        vertical-align:middle;
        padding-left: 5px;
        padding-right: 15px;
    }

    .hire {
        text-align:center; 
        vertical-align:middle;
        padding-left: 2em;
        // padding-top: 1em;
    }

    .hire_button, .fire_button {
        border: 1px solid black;
        padding: 10px;

        &:hover {
            color: gray;
        }
    }
}

#hire_table, #staff_table {
    height: 490px;
    width: 440px;
    float: left;
}

#staff_table {
    margin-left: 10px;
}

.scrollable {
    overflow: scroll;
}

#research_sliders {
    background-color: red;
    width: 200px;
    height: 400px;
    float: left;
}

#research_tech_tree {
    background-color: yellow;
    width: 700px;
    height: 400px;
    float: right;
}

#completed_research_table {
    clear: both;
    height: 100px;
}

/*  hack to stop page bounce
    https://github.com/nwjs/nw.js/issues/3109#issuecomment-105283351
 */
html, body {
    height: 100%;
    overflow: hidden;
}

.research {
    font-size: 50%;
    .sell_button {
        border: 1px solid black;
        padding: 10px;

        &:hover {
            color: gray;
        }
    }
    .publish_button {
        border: 1px solid black;
        padding: 10px;

        &:hover {
            color: gray;
        }
    }
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    display: none;
}

#popup {
    width: 400px;
    padding-bottom: 1em;
    background: white;
    border: 2px solid black;
    margin: auto;
    margin-top: 200px;
    display: none;

    .title {
        background: blue;
        height: 2em;
        text-align: center;
        padding-top: 10px;
        color: white;
    }

    .content {
        padding: 1em;
    }

    .okay_button {
        border: 1px solid black;
        margin: auto;
        width: 100px;
        padding: 10px;
        text-align: center;

        &:hover {
            background: gray;
        }
    }
}

#financeschart {
    width: 100%;
    height: 200px;
    background: blue;
}

#loans {
    margin-top:10px;
    width: 450px;
    height: 280px;
    background: pink;
    float: left;
}

#grants {
    margin-top:10px;
    width: 450px;
    height: 280px;
    background: orange;
    float: left;
}