#main {
    width: 1024px;
    height: 768px;
    margin:auto;
    background:green;
}

#newsfeed {
    background:black;
    width: 1024px;
    height: 20px;
    padding: 5px;
    color: white;
}

#tabs {
    margin-top: 10px;
    float: left;
    width: 700px;
    padding-left: 100px;
}

#tabs > .tab {
    float: left;
    margin-left:10px;
    background: white;
    border: 1px solid blue;

    &:hover, &.active {
        background: gray;
    }
}

#tabs > .tab > .content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#tabstaff h2 {
    float: left;
    width: 400px;
}

#time {
    padding-top: 10px;
    text-align: center;
}

#timecontrols {
    position:relative;
    left: 70px;
    top: 10px;
}
.timecontrol {
    float: left;
    margin-left: 10px;

    &:hover {
        color: gray;
    }

    &.active {
        color: red;
    }
}

.clickable {
    cursor: pointer;
}

.tab_content {
    background: white;
    width: 900px;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
    display: none;
    padding: 10px;

    &.active {
        display: block;
    }
}


.person {
    .photo {
        img {
            width: 65px;
            height: 65px;
        }
    }

    .info {
        vertical-align:middle;
        padding-left: 5px;
        padding-right: 15px;
    }

    .hire {
        text-align:center; 
        vertical-align:middle;
        padding-left: 2em;
        // padding-top: 1em;
    }

    .hire_button, .fire_button {
        border: 1px solid black;
        padding: 10px;

        &:hover {
            color: gray;
        }
    }
}

#hire_table, #staff_table {
    height: 490px;
    width: 440px;
    float: left;
}

#staff_table {
    margin-left: 10px;
}

.scrollable {
    overflow: scroll;
}

#research_sliders {
    background-color: red;
    width: 200px;
    height: 400px;
    float: left;
}

#research_tech_tree {
    background-color: yellow;
    width: 700px;
    height: 400px;
    float: right;
}

#completed_research_table {
    clear: both;
    height: 100px;
}

/*  hack to stop page bounce
    https://github.com/nwjs/nw.js/issues/3109#issuecomment-105283351
 */
html, body {
    height: 100%;
    overflow: hidden;
}

.research {
    font-size: 50%;
    .sell_button {
        border: 1px solid black;
        padding: 10px;

        &:hover {
            color: gray;
        }
    }
    .publish_button {
        border: 1px solid black;
        padding: 10px;

        &:hover {
            color: gray;
        }
    }
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    display: none;
}

#popup {
    width: 400px;
    padding-bottom: 1em;
    background: white;
    border: 2px solid black;
    margin: auto;
    margin-top: 200px;
    display: none;

    .title {
        background: blue;
        height: 2em;
        text-align: center;
        padding-top: 10px;
        color: white;
    }

    .content {
        padding: 1em;
    }

    .okay_button {
        border: 1px solid black;
        margin: auto;
        width: 100px;
        padding: 10px;
        text-align: center;

        &:hover {
            background: gray;
        }
    }
}

#financeschart {
    width: 100%;
    height: 200px;
    background: blue;
}

#loans {
    margin-top:10px;
    width: 450px;
    height: 280px;
    background: pink;
    float: left;
}

#grants {
    margin-top:10px;
    width: 450px;
    height: 280px;
    background: orange;
    float: left;
}

/* CSS for news page

from: https://codepen.io/silkine/pen/jldif?editors=1100 

*/
.newspaper-header{
    text-align: center;
    position: relative;
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 52px;
    margin-bottom: 10px;

}

 p{
    margin-top: 0;
    margin-bottom: 20px;
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    font-family: 'Playfair Display', serif;

}

.newsContent{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;
    font-family: 'Playfair Display', serif;
    height: 100%;
    overflow: auto;
}

.collumn1{
    font-size: 14px;
    line-height: 20px;
    width: 98%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 20px;
    transition: all .7s;
    border-bottom: 2px solid #2f2f2f;
}

.collumn1 .headline.hl1, .collumn2 .headline.hl1{
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.collumn1 .headline.hl4, .collumn2 .headline.hl4{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn1 .headline.hl4:before, .collumn2 .headline.hl4:before{
    /* border-top: 1px solid #2f2f2f; */
    content: '';
    width: 100px;
    height: 3px;
    display: block;
    margin: 0 auto;
}
.collumn1 .headline.hl4:after, .collumn2 .headline.hl4:after{
    /* border-bottom: 1px solid #2f2f2f; */
    content: '';
    width: 100px;
    height: 3px;
    display: block;
    margin: 0 auto;

}

.collumn1 .figure, .collumn2 .figure {
    margin: 0 0 20px;
}

.collumn1 .figcaption, .collumn2 .figcaption{
    font-style: italic;
    font-size: 10px;
    text-align: center;
}

#alignleft {
    float: left;
    margin: 4px 10px 5px 0;
}

#alignright {
    float: right;
    margin: 4px 0 5px 10px;
}

.collumn2{
    font-size: 14px;
    line-height: 20px;
    width: 47.5%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 20px;
    transition: all .7s;
}

.collumn2 + .collumn2 { 
  border-left: 2px solid #2f2f2f;
}


