<!DOCTYPE html>
<html>
<head>
    <title>Industrial Revolution</title>
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="newsfeed">
                NEWS
            </div>
            <div id="tabs">
                <div class="tab clickable" id="newstab"><div class="content">NEWS</div></div>
                <div class="tab clickable" id="stafftab"><div class="content">STAFF</div></div>
                <div class="tab clickable" id="researchtab"><div class="content">RESEARCH</div></div>
                <div class="tab clickable" id="granttab"><div class="content">GRANTS</div></div>
                <div class="tab clickable" id="optionstab"><div class="content">OPTIONS</div></div>
                <div class="clear"></div>
            </div>
            <div id="time">
                <div id="day">MON</div>
                <div id="date">27/07/1989</div>
            </div>
            <div id="timecontrols">
                <div class="timecontrol clickable" id="pause"><i class="fa fa-pause"></i></div>
                <div class="timecontrol clickable active" id="play"><i class="fa fa-play"></i></div>
                <div class="timecontrol clickable" id="ff"><i class="fa fa-forward"></i></div>
                <div class="clear">
            </div>
        </div>
        <div id="content">

        </div>
    </div>
    <script src="/bundle.js"></script>
</body>
</html>