<!DOCTYPE html>
<html>
<head>
    <title>Industrial Revolution</title>
</head>
<body>
    <script id="hireable-person-template" type="text/x-handlebars-template">
        <tr class="person">
            <td class="photo">
                <img src="/assets/{{avatar}}.png" />
            </td>
            <td class="info">
                <div><strong>{{name}}</strong> ({{age}})</div>
                <div>Skill {{skill}}</div>
                <div>Fee {{fee}} Salary {{salary}}</div>
            </td>
            <td class="hire">
                <div class="hire_button clickable" data-id="{{id}}">
                    Hire
                </div>
            </td>
        </tr>
    </script>
    <script id="staff-person-template" type="text/x-handlebars-template">
        <tr class="person">
            <td class="photo">
                <img src="/assets/{{avatar}}.png" />
            </td>
            <td class="info">
                <div><strong>{{name}}</strong> ({{age}})</div>
                <div>Skill {{skill}}</div>
                <div>Salary {{salary}}</div>
            </td>
            <td class="hire">
                <div class="fire_button clickable" data-id="{{id}}">
                    Fire
                </div>
            </td>
        </tr>
    </script>
    <script id="completed-research-template" type="text/x-handlebars-template">
        <tr class="research">
            <!-- name -->
            <td>{{name}}</td>
            <!-- date completed -->
            <td>{{date_completed}}</td>
            <!-- button: sell -->
            <td><div class="sell_button clickable" data-id="{{id}}">Sell for ${{financial_value}}</div></td>
            <!-- button: publish -->
            <td><div class="publish_button clickable" data-id="{{id}}">Publish for {{prestige_value}}</div></td>
        </tr>
    </script>
    <div id="main">
        <div id="header">
            <div id="newsfeed">
                NEWS
            </div>
            <div id="tabs">
                <div class="tab clickable" id="newstab" data-tab-name="news"><div class="content">NEWS</div></div>
                <div class="tab clickable" id="stafftab" data-tab-name="staff"><div class="content">STAFF</div></div>
                <div class="tab clickable" id="researchtab" data-tab-name="research"><div class="content">RESEARCH</div></div>
                <div class="tab clickable" id="financestab" data-tab-name="finances"><div class="content">FINANCES</div></div>
                <div class="tab clickable" id="optionstab" data-tab-name="options"><div class="content">OPTIONS</div></div>
                <div class="clear"></div>
            </div>
            <div id="time">
                <div id="day">MON</div>
                <div id="date">27/07/1989</div>
            </div>
            <div id="timecontrols">
                <div class="timecontrol clickable" id="pause"><i class="fa fa-pause"></i></div>
                <div class="timecontrol clickable active" id="play"><i class="fa fa-play"></i></div>
                <div class="timecontrol clickable" id="ff"><i class="fa fa-forward"></i></div>
                <div class="clear">
            </div>
            <div class="stats">
                Age <span id="age">20</span> Money <span id="money">£100</span>. Prestige <span id="prestige">0</span>
            </div>
        </div>

        <div id="content">
            <div class="tab_content" id="tabnews">NEWS</div>
            <div class="tab_content" id="tabstaff">
                <h2>Applicants</h2>
                <h2>Your Staff</h2>
                <div class="scrollable" id="hire_table">
                    <table>
                        
                    </table>
                </div>
                <div class="scrollable" id="staff_table">
                    <table>
                        
                    </table>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tab_content" id="tabresearch">
                <div id="research_sliders">
                    <div id="slider_background"></div>
                    <input id="research_slide_control" type="range" min="1" max="238" step="6" value="238" />
                </div>
                <div id="research_tech_tree">TECH TREE</div>
                <div class="scrollable" id="completed_research_table">
                    <table>
                        
                    </table>
                </div>
            </div>
            <div class="tab_content" id="tabfinances">
                <div id="financeschart">
                </div>

                <div id="loans">
                    <h2>Loans</h2>
                    <table>
                        <tr>
                            <td>Provider1</td>
                            <td>$1000</td>
                            <td>5% per month</td>
                            <td>Take Loan...</td>
                        </tr>
                        <tr>
                            <td>Provider2</td>
                            <td>$10000</td>
                            <td>10% per month</td>
                            <td>Take Loan...</td>
                        </tr>
                        <tr>
                            <td>Provider3</td>
                            <td>$100000</td>
                            <td>12% per month</td>
                            <td>Take Loan...</td>
                        </tr>
                    </table>
                </div>

                <div id="grants">
                    <h2>Grants</h2>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tab_content" id="taboptions">OPTIONS</div>
        </div>
    </div>
    <div id="overlay">
        <div id="popup">
            <div class="title">Pay Day</div>
            <div class="content">You paid your staff $....</div>
            <div class="controls">
                <div class="okay_button clickable">Okay</div>
            </div>
        </div>
    </div>
    <script src="/bundle.js"></script>
</body>
</html>