<!DOCTYPE html>
<html>
<head>
    <title>Industrial Revolution</title>
</head>
<body>
    <script id="hireable-person-template" type="text/x-handlebars-template">
        <tr class="person">
            <td class="photo">
                <img src="/assets/person.png" />
            </td>
            <td class="info">
                <div><strong>{{name}}</strong> ({{age}})</div>
                <div>Skill {{skill}}</div>
                <div>Fee {{fee}} Salary {{salary}}</div>
            </td>
            <td class="hire">
                <div class="hire_button clickable" data-id="{{id}}">
                    Hire
                </div>
            </td>
        </tr>
    </script>
    <script id="staff-person-template" type="text/x-handlebars-template">
        <tr class="person">
            <td class="photo">
                <img src="/assets/person.png" />
            </td>
            <td class="info">
                <div><strong>{{name}}</strong> ({{age}})</div>
                <div>Skill {{skill}}</div>
                <div>Salary {{salary}}</div>
            </td>
            <td class="hire">
                <div class="fire_button clickable" data-id="{{id}}">
                    Fire
                </div>
            </td>
        </tr>
    </script>
    <div id="main">
        <div id="header">
            <div id="newsfeed">
                NEWS
            </div>
            <div id="tabs">
                <div class="tab clickable" id="newstab" data-tab-name="news"><div class="content">NEWS</div></div>
                <div class="tab clickable" id="stafftab" data-tab-name="staff"><div class="content">STAFF</div></div>
                <div class="tab clickable" id="researchtab" data-tab-name="research"><div class="content">RESEARCH</div></div>
                <div class="tab clickable" id="grantstab" data-tab-name="grants"><div class="content">GRANTS</div></div>
                <div class="tab clickable" id="optionstab" data-tab-name="options"><div class="content">OPTIONS</div></div>
                <div class="clear"></div>
            </div>
            <div id="time">
                <div id="day">MON</div>
                <div id="date">27/07/1989</div>
            </div>
            <div id="timecontrols">
                <div class="timecontrol clickable" id="pause"><i class="fa fa-pause"></i></div>
                <div class="timecontrol clickable active" id="play"><i class="fa fa-play"></i></div>
                <div class="timecontrol clickable" id="ff"><i class="fa fa-forward"></i></div>
                <div class="clear">
            </div>
        </div>

        <div id="content">
            <div class="tab_content" id="tabnews">NEWS</div>
            <div class="tab_content" id="tabstaff">
                <div class="scrollable" id="hire_table">
                    <table>
                        
                    </table>
                </div>
                <div class="scrollable" id="staff_table">
                    <table>
                        
                    </table>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tab_content" id="tabresearch">RESEARCH</div>
            <div class="tab_content" id="tabgrants">GRANTS</div>
            <div class="tab_content" id="taboptions">OPTIONS</div>
        </div>
    </div>
    <script src="/bundle.js"></script>
</body>
</html>